body{
    margin: 0;
}
.navbar{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 0 10px; /* Adjust the padding as needed */
}
.navbar-links{
    padding-left: 10px;
}
.navbar-header{
    float: left;
}
.navbar-right{
    float: right;
    
}
.mid-section{
    width: 100%;
    height: 250px;
    background-color: azure;
}