@media screen and (max-width: 600px) {
    body {
      background-color: lightgray;
    }
  }
body{
    margin: 0;
}
.navbar{
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 0 10px; /* Adjust the padding as needed */
    padding-bottom: 15px;
}
.navbar-links{
    padding-left: 10px;
}
.navbar-header{
    float: left;
}
.navbar-right{
    float: right;
    
}
.mid-section{
    width: 100%;
    height: 250px;
    background-color: azure;
    padding-bottom: 15px;
}
.about-me{
    background-color: blanchedalmond;
    width: 100%;
    padding-bottom: 15px;
}
.about-me-right{
    padding-left: 20px;
}
.work{
    background-color: lightcyan;
    width: 100%;
    height:300px;
    padding-bottom: 15px;
}
.contact-me{
    width: 100%;
    
}
.contact-me-right{
    padding-left: 20px;
    justify-content: space-between;
}
.contact-me-right > a{
    padding-left: 5px;
}